// SCREEN SIZE DEFINITIONS
// Tablets
$screen-sm-min: 650px;

// Tablet devices
@mixin tablet {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

//-----------------------------------------------------------

$headings: "Work Sans";
$body: "Barlow";

//-----------------------------------------------------------

.contactWrapper {
  margin: 0 24px;

  @include tablet {
    margin: 0 40px;
  }

  h1 {
    font-family: $headings;
    font-size: 28px;
    margin: 20px 0;

    // Tablet Viewport
    @include tablet {
      font-size: 40px;
    }
  }

  h2 {
    font-family: $headings;
    margin: 5px 0;

    // Tablet Viewport
    @include tablet {
      font-size: 30px;
    }
  }
}

p {
  font-family: "Barlow";
  color: rgba(#000, 0.7);
}

.form {
  width: 100%;
  background-color: rgba(#000, 0.1);
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 30px;

  @include tablet {
    padding: 20px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    label {
      font-family: $body;
      color: rgba(#000, 0.7);
      margin-bottom: 2px;
    }

    input,
    textarea {
      width: 95%;
      border: 1px solid #000;
      border-radius: 3px;

      font-family: $body;
    }

    input {
      text-indent: 5px;
      height: 30px;

      // Tablet Viewport
      @include tablet {
        height: 40px;
      }
    }

    textarea {
      resize: vertical;
      padding: 5px;
    }

    input:focus,
    textarea:focus {
      outline: none;
    }
  }
}

.socialContact {
  margin-bottom: 30px;

  p {
    @include tablet {
      width: 600px;
      margin-top: 15px;
    }
  }

  ul {
    margin: 10px 0;

    li {
      margin: 8px 0;
      display: flex;
      align-items: center;

      // Tablet Viewport
      @include tablet {
        margin: 15px 0;
      }

      a {
        margin-left: 5px;
        text-decoration: none;
        color: rgba(#000, 0.7);
        font-family: $body;
      }
    }
  }
}
