// SCREEN SIZE DEFINITIONS
// Small - Large Tablets
$screen-sm-min: 650px;

// Tablet devices
@mixin tablet {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

//-----------------------------------------------------------

// Font Variables.
$body-text: "Barlow";
$thin-weight: 300;

//-----------------------------------------------------------

nav {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 24px;

  // 650px window width
  @include tablet {
    height: 120px;
  }

  .navHeader {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 15px;

    // 650px window width
    @include tablet {
      height: 85px;
    }

    img {
      width: 100px;
    }

    a {
      font-family: $body-text;
      font-size: 15px;

      text-decoration: none;
      color: #000;
    }
  }

  .navLinks {
    height: 35px;

    display: flex;
    align-items: flex-end;

    ul {
      display: flex;

      li {
        margin-right: 20px;

        //650px window width
        @include tablet {
          margin-right: 30px;
        }

        a {
          font-family: $body-text;
          font-size: 15px;

          text-transform: uppercase;
          text-decoration: none;
          color: rgba(#000000, 0.4);
        }

        a:hover {
          color: rgba(#000000, 0.8);
        }
      }
    }
  }
}
